<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Exemplo Upload</h1>
        <div th:if="${msg != null}">
            <p style="color: yellow; background-color: blue" th:text="${msg}"></p>
        </div>
        <form th:action="@{/upload/salvar}" method="post"
              enctype="multipart/form-data">
            <input type="file" name="arquivo" />
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
