<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Home</h1>
        <div>
            <h2>Nome completo: <span th:text="${usuario.nomeCompleto}"></span></h2>
            <p th:text="${usuario.hashSenha}"></p>
            <p><a th:href="@{/logout}">Sair</a></p>
        </div>
        <ul>
            <li>
                <a th:href="@{/protegido/peao}">Acesso a /protegido/peao</a>
            </li>
            <li>
                <a th:href="@{/protegido/fodon}">Acesso a /protegido/fodon</a>
            </li>
            <li>
                <a th:href="@{/protegido/god}">Acesso a /protegido/god</a>
            </li>            
        </ul>
    </body>
</html>
