<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Exemplo Spring Security - Entrar no sistema</h1>
            <form th:action="@{/login}" method="post">
                <div>
                    <label>Username</label>
                    <div>
                        <input type="text" name="username" />
                    </div>
                </div>
                <div>
                    <label>Senha</label>
                    <div>
                        <input type="password" name="senha" />
                    </div>
                </div>
                <button type="submit">Entrar</button>
            </form>

        </div>
    </body>
</html>