<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .erro-form {
                background-color: lightpink;
            }
        </style>
    </head>
    <body>
        <h1>Exemplo POST</h1>
        <div th:if="${msg != null}">
            <p style="color: yellow; background-color: blue" th:text="${msg}"></p>
        </div>
        <div>
            <form th:action="@{/mvc/pessoa/salvar2}" method="post"
                  th:object="${pessoa}">
                <div>
                    <label>Nome</label>
                    <input type="text" th:field="*{nome}" th:errorclass="erro-form" />
                    <span th:if="${#fields.hasErrors('nome')}"
                         th:errors="*{nome}"></span>
                </div>
               <div>
                    <label>Senha</label>
                    <input type="password" th:field="*{senha}"/>
                    <div th:if="${#fields.hasErrors('senha')}"
                         th:errors="*{senha}"></div>
                </div>
                <div>
                    <label>E-mail</label>
                    <input type="email" th:field="*{email}" />
                    <div th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                </div>
                <div>
                    <label>Telefone</label>
                    <input type="text" th:field="*{telefone}" />
                    <div th:if="${#fields.hasErrors('telefone')}"
                         th:errors="*{telefone}"></div>
                </div>
                <fieldset>
                    <legend>Sexo</legend>
                    <input type="radio" value="0" th:field="*{sexo}" />
                    <label>Feminino</label>
                    <input type="radio" value="1" th:field="*{sexo}" />
                    <label>Masculino</label>
                </fieldset>
                <fieldset>
                    <legend>Interesses</legend>
                    <input type="checkbox" value="A" th:field="*{interesses}" />
                    <label>Interesse A</label>
                    <input type="checkbox" value="B" th:field="*{interesses}" />
                    <label>Interesse B</label>
                    <input type="checkbox" value="C" th:field="*{interesses}" />
                    <label>Interesse C</label>
                </fieldset>
                <button type="submit">Enviar</button>
            </form>
            
        </div>
    </body>
</html>
